ion-card{
    position:static;
    text-align: center;
    width: auto;
}

//.activated{
    //color: black;
    // background: blue;
//}



img{ 
    width:  300;
    height: 500;
    
    border: 7px solid cornflowerblue;
    margin-right: 14px ;
   

}

img {
    width:  600px;
    height: 600px;
    
    border: 7px solid cornflowerblue;
    margin-right: 14px ;
   

}


img {
    width:  600px;
    height: 600px;
    
    border: 7px solid cornflowerblue;
    margin-right: 14px ;
   

}
