<ion-header>
  <ion-toolbar>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>



<!--ion-content  [fullscreen]="true">
    <h1>Main Content</h1>

  
  </ion-content-->

    
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Welcome To MaherSaham Company</ion-card-subtitle>
      <ion-card-title>Ingat Saham Ingat MaherSaham</ion-card-title>
    </ion-card-header>
 
    
    <ion-card-content>
      Jom Daftar CDS Akaun di MaherSaham iaitu dibawah Broker M+Plus

      <!--ion-slides #slides autoplay="true" loop="true" pager="false" scrollbar="true" [options]="slideOpts"-->
       <ion-slides #slides autoplay="true" loop="true" pager="false" scrollbar="true" [options]="slideOpts">
      <ion-card>
       <ion-img src='../../../assets/images/testing/a.png'></ion-img>
       <h1>Cara Guna MACD di trading View</h1>
      </ion-card> 

      <ion-card>
        <ion-img src='../../../assets/images/testing/b.png'></ion-img>
         <h3>Cara Guna Moving Average di trading View</h3>
      </ion-card>

      <ion-card>
        <ion-img src='../../../assets/images/testing/c.png'></ion-img>
        <ion-title>Cara Guna MAE di trading View</ion-title>
      </ion-card>
      
     </ion-slides>

     <!--ion-slides #buttonSlideEle pager="false" scrollbar="false" [options]="buttonSlide">
       <ion-slide *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
         <ion-button (click)="onClick(item)"[ngClass]="{'activated': item===selectedItem}">
           {{item}}
         </ion-button>
       </ion-slide>
     </ion-slides-->



     
    </ion-card-content>



  
 

    