<ion-header>
  <ion-toolbar>
    <ion-title>chip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
<ion-chip>
<ion-label>Default</ion-label>
</ion-chip>
  </ion-item>

  <ion-item>
<ion-chip>
  <ion-label color="primary">Secondary Label</ion-label>
</ion-chip>
</ion-item>

<ion-item>

  <ion-chip>
    <ion-icon name="pin"></ion-icon>
    <ion-label>Default</ion-label>
  </ion-chip>
</ion-item>

<ion-item>
  <!--ion-chip-->
    <ion-avatar>
      <img src="../../../assets/images/avatar/avatar girl.png">
    </ion-avatar>
    <ion-label>Avatar Chip</ion-label>
    <!--ion-icon name="close-circle"></ion-icon>
  </ion-chip-->
</ion-item>


<ion-item>
  <ion-chip>
    <ion-avatar>
      <img src="../../../assets/images/avatar/avatar girl.png">
    </ion-avatar>
    <ion-label>Avatar Chip</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
</ion-item>

<ion-item>
  <ion-chip outline color="primary">
    <ion-icon name="pin"></ion-icon>
    <ion-label>Madison</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
  <ion-chip outline color="secondary">
    <ion-icon name="wine"></ion-icon>
    <ion-label>Nightlife</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
  <ion-chip outline color="tertiary">
    <ion-icon name="restaurant"></ion-icon>
    <ion-label>Dining</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
  <ion-chip outline color="dark">
    <ion-icon name="videocam"></ion-icon>
    <ion-label>Entertainment</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
</ion-item>

<ion-item>
  <ion-chip outline color="primary">
    <ion-label>Primary</ion-label>
  </ion-chip>
  <ion-chip outline color="secondary">
    <ion-label>Secondary</ion-label>
  </ion-chip>
  <ion-chip outline color="tertiary">
    <ion-label>Tertiary</ion-label>
  </ion-chip>
  <ion-chip outline color="success">
    <ion-label>Success</ion-label>
  </ion-chip>
  <ion-chip outline color="warning">
    <ion-label>Warning</ion-label>
  </ion-chip>
  <ion-chip outline color="danger">
    <ion-label>Danger</ion-label>
  </ion-chip>
</ion-item>


</ion-content>
