ion-item{
    border-radius:50 px;
    height: 55px;
    box-shadow: 1px 8px 8px 0px rgba($color: #000000, $alpha: 1.0);
    --highlight-height:0px;

    ion-input{
        font-size: 18px;
        padding-top:20px;
        padding-bottom:15px;
        padding-block-start: 5px;
    }
  
}