<ion-header>
  <ion-toolbar>
    <ion-title>badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>Followers</ion-label>
  <ion-badge color="primary">11</ion-badge>
</ion-item>

<ion-item>
  <ion-label>Likes</ion-label>
  <ion-badge color="secondary">22</ion-badge>
</ion-item>

<ion-item>
  <ion-label>Stars</ion-label>
  <ion-badge color="tertiary">33</ion-badge>
</ion-item>


<ion-item>
  <ion-label>Completed</ion-label>
  <ion-badge color="success">44</ion-badge>
</ion-item>


<ion-item>
  <ion-label>Warning</ion-label>
  <ion-badge color="warning">55</ion-badge>
</ion-item>

<ion-item>
  <ion-label>Notifications</ion-label>
  <ion-badge color="danger">10000</ion-badge>
</ion-item>

<ion-item>
  <ion-label>Unread</ion-label>
  <ion-badge color="light">300</ion-badge>
</ion-item>

<ion-item>
  <ion-label>Drafts</ion-label>
  <ion-badge color="medium">24</ion-badge>
</ion-item>

<ion-item>
  <ion-label>Delete</ion-label>
  <ion-badge color="dark">36</ion-badge>
</ion-item>
</ion-content>

