ion-slides{
    height: 100%;
    width: 100%;
}

.bg-1 {

 background-image:url('../../../assets/images/testing/d.jpg') ;
 background-size:cover;

}

.bg-2 {

    background-image:url('../../../assets/images/testing/e.jpg') ;
    background-size:cover;
   
   }

.bg-3 {

    background-image:url('../../../assets/images/testing/f.jpg') ;
    background-size:cover;
   
   }