<ion-list>
      <ion-list-header>Ionic</ion-list-header>
      <ion-item button>Learn Ionic</ion-item>
      <ion-item button>Documentation</ion-item>
      <ion-item button>Display</ion-item>
      <ion-item button>GitHub Repo</ion-item>
      <ion-item lines="none" detail="false" button onClick="dismissPopover()">Close</ion-item>
  
  </ion-list>

    <!--ion-item button *ngFor="let item of list" (click)="dismiss(item)">
     {{item}}
    </ion-item-->
    <!--ion-item  line="none" details="false"button(click)="dismiss('dismiss')">
      Dismiss
    </ion-item-->

    