<ion-app>
<ion-header translucent>
  <ion-toolbar>
    <ion-title>popover</ion-title>
    <!--ion-buttons slot="end">
    <ion-button (click)="openPopover($event)">
      <ion-button>
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons-->
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding">
<ion-button (click)="openPopover($event)"  shape="round">Pop Over</ion-button>
</ion-content>
</ion-app>
<!--expand="block"></expand-->